numpy
nose
profilehooks
protobuf
#git+https://github.com/RobocupUlavalEmbedded/RobotMCU@develop#egg=pyhermes&subdirectory=pyhermes
git+https://github.com/RobocupUlavalEmbedded/RobotMCU@develop#egg=pyhermes&subdirectory=pyhermes
protobuf3-to-dict
